body {
  background-image: url('pokemon2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}


 h1 {
  color: #fccc04;
 }

.home-page {
    /* background-image: url('pokemon-background.jpg'); Utilisez une image Pokémon en arrière-plan */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-family: 'Arial', sans-serif;
  }
  
  .textAccueil{
    overflow: hidden;
    display: flex;
    position: relative;
  }
  
  .imageAccueil{
    
    background-image: url('pokemon3.png');
    background-repeat: no-repeat; 
    /* padding-left: %; */
    width: 100%;
    height: 120px;
    display: flex;
    position: absolute;
    
    margin-left: 500px;
  }
  
  .header {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #3d5dab;
    background-color: #fcca0400;
    
  }
  
  .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  button {
    background-color: #ffcc00; /* Couleur Pikachu */
    color: #000;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff9900; /* Couleur Pikachu au survol */
  }

 .containerImage{

 }