body {
  background-image: url('pokemon2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}


 h1 {
  color: #fccc04;
 }

.home-page {
    /* background-image: url('pokemon-background.jpg'); Utilisez une image Pokémon en arrière-plan */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-family: 'Arial', sans-serif;
  }
  
  .textAccueil{
    overflow: hidden;
    display: flex;
    position: relative;
  }
  
  .imageAccueil{
    
    background-image: url('pokemon3.png');
    background-repeat: no-repeat; 
    /* padding-left: %; */
    width: 100%;
    height: 120px;
    display: flex;
    position: absolute;
    
    margin-left: 500px;
  }
  
  .header {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #3d5dab;
    background-color: #fcca0400;
    
  }
  
  .content {
    
    padding: 20px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 120px;
  }
  
  button {
    margin: 20px 5px 0 5px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  padding: 0 20px;
  background: lightblue;
  border: 3px solid #003060;
  border-radius: 20px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  margin-left: 250px;
  }
  
  button:hover {
    background: #003060;
  color: white;
  position: relative;
  top: 10px;
  box-shadow: none;
  }
